@charset "utf8";

:root {
    --cor0: ;
    --cor1: #ff7b00;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --corbranco: #ffffff;
    --corpreto: #000000;
}

* {
    font-size: 2.3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
}

header > img {
    margin: auto;    
    display: block;
    width: 50vw;
}

body {
    background-color: var(--corpreto)
}

main > img {
    position: absolute;
    left: 68%;
    margin: auto;    
    display: block;
}

img#drink {
    width: 30vw;
    position: absolute;
    left: 68%;
    margin: auto;    
    display: block;
}


img#chopp {
    width: 40vw;
    position: absolute;
    left: 58%;
    margin: auto;    
    display: block;
}

hr {
    margin: auto;
    margin-top: 5vw;
}

h1, h2, p {
    text-align: left;
}

h1, h2 {
    margin: 0.3vw;
    margin-left: 3.2vw;
}

h1 {
    font-size: 4.2vw;
    color: var(--corbranco);
    margin-top: 5vw;
    margin-bottom: 1vw;
}

h2 {
    
    font-size: 3.2vw;
    color: var(--cor1);
    display: inline-flex;
}

p {
    font-size: 2.2vw;
    color: var(--corbranco);
    display: inline;
}

p#fim {
    padding-bottom: 10vw;
}